<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a routerLink="/" mat-button>Booooom!</a>
      <div *ngIf="!(user | async) else userMenu">
        <a mat-button routerLink="/login">Войти</a>
      </div>
      <ng-template #userMenu>
        <nav *ngIf="username">
          <h4>Hello {{ username.username }}!</h4>
        </nav>
        <nav>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="new">Cоздать бум</button>
            <button mat-menu-item (click)="logOut()">Выйти</button>
          </mat-menu>
        </nav>
      </ng-template>
    </mat-toolbar>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
