<div class="container">
  <div class="error" *ngIf="error | async">{{ error | async }}</div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading | async else boomArea"></mat-progress-bar>
  <ng-template #boomArea>
    <div *ngFor="let bo of boom | async"
         class="card"
    >
      <mat-card class="card">
        <div class="hed">
          <div *ngIf="bo.user.image">
            <img
              [src]="'http://localhost:8000/uploads/' + bo.user.image"
              [alt]="'Photo of' "
              mat-card-avatar
            />
          </div>
          <div *ngIf="!bo.user.image">
            <h3>no photo</h3>
          </div>
          <mat-card-title>
            <h1 class="title">by {{ bo.user.username }}</h1>
          </mat-card-title>
          <mat-card-subtitle class="sub">
            <h2>{{ bo.price }}</h2>
          </mat-card-subtitle>
        </div>
        <div class="bod">
          <a [routerLink]="[bo._id]">{{ bo.description }}</a>
        </div>

      </mat-card>
    </div>

  </ng-template>
</div>

