<div class="form-container">
  <mat-card>
    <form (ngSubmit)="onSubRegister()" #f="ngForm">
      <div class="error" *ngIf="error | async">{{ (error | async)?.errors }}</div>

      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input type="email" name="email" matInput required ngModel #email="ngModel">
        <mat-error *ngIf="email.touched && email.hasError('required')"
        >email is required!
        </mat-error>
        <mat-error *ngIf="email.touched && email.hasError('email')"
        >Enter email is correct!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input
          type="password"
          name="password"
          required
          matInput
          ngModel
          #pass="ngModel"
          autocomplete="new-password"
        >
        <mat-error *ngIf="pass.touched && pass.hasError('required')"
        >password is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>name</mat-label>
        <input type="text" name="username" matInput required ngModel #name="ngModel">
        <mat-error *ngIf="name.touched && name.hasError('required')"
        >name is required!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>avatar</mat-label>
        <app-file-input name="image" ngModel required #image="ngModel"></app-file-input>
        <mat-error *ngIf="image.touched && image.hasError('required')"
        >image is required!
        </mat-error>
      </mat-form-field>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      >
        registration
      </button>
    </form>
  </mat-card>
</div>
