<div class="form-container">
  <mat-card>
    <form (ngSubmit)="onLogin()" #f="ngForm">
      <div class="error" *ngIf="error | async">
        {{ (error | async)?.error }}</div>
      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input type="email" name="email" matInput required ngModel #email="ngModel">
        <mat-error *ngIf="email.touched && email.hasError('required')"
        >email is required!
        </mat-error>
        <mat-error *ngIf="email.touched && email.hasError('email')"
        >Enter email is correct!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input
          type="password"
          name="password"
          required
          matInput
          ngModel
          #pass="ngModel"
          autocomplete="current-password">
        <mat-error *ngIf="pass.touched && pass.hasError('required')"
        >password is required!
        </mat-error>
      </mat-form-field>
      <a class="reg" routerLink="/register">зарегистрироваться</a>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      >
        Sign in
      </button>
    </form>
  </mat-card>
</div>
